header {
    background-color: #ffffff;
}

body {
    background-color: #C4C4C4;
}

footer {
    background-color: #ffffff;
}

.card {
    background-color: #fff;
    padding: 20px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width: 768px) { 
    .card__title {
        font-size: 10px;
    }
    .card__description {
        font-size: 8px;
    }
}

@media screen and (width: 320px) { 
    .card__description {
        display: none;
    }

    .card__title {
        font-size: 8px;
    }
}